

header {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

nav {
    padding: 15px 0; 
}

.nav__btn {
    padding: 10px 16px;
    border-radius: 25px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    transition: .3s;
}

.nav__btn:hover {
    background-color: transparent;
    border-color: black;
    color: black;
}